<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\asp1r\snglrtycrvtureofspce\GitHub\AirlineApp\AirlineApp\AirlineApp\airlines.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="AirlineApp.Properties.Settings.airlinesConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\asp1r\snglrtycrvtureofspce\GitHub\AirlineApp\AirlineApp\AirlineApp\airlines.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>